<header>

    <nav>
        <img src="./assets/Images/1.JPG" alt="Deal Leader Group" height="90" class="logo">
        <label class="companyname">Deal Leader Group</label>
    <ul class="nav_links">
        <li class="nav-li">Admin</li>
        <li class="nav-li">About</li>
        <li class="nav-li">Contact Us</li>
    </ul>
    <a class="cta" href="#">Logout</a>
    </nav>

</header>

<body>
<div class="container">
    <app-agenttypes></app-agenttypes>
</div>
</body>
<footer>
    <p>By LeadingIT Solutions 2020</p>
</footer>